<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% items.forEach(item => { %>
                <li>
                    <a href="/items/<%= item.id %>">
                        <%= item.name%>
                    </a>
                </li>
            <% }) %>
        </ul>
        <form action="/category/<%= category.id %>/delete" method="POST">
            <button type="submit">Delete Category</button>
        </form>
        <a href="/category/<%= category.id %>/update">Update Category</a>
        <br>
        <a href="/items/create">Add new item</a>
        <br>
        <a href="/">Back to categories</a>
    </body>
</html>