<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="container">
            <h1><%= category.name %></h1>
            <ul>
                <% items.forEach(item => { %>
                    <li>
                        <a href="/items/<%= item.id %>">
                                <%= item.name%>
                        </a>
                    </li>
                <% }) %>
            </ul>
            <form action="/category/<%= category.id %>/delete" method="POST">
                <button type="submit">Delete Category</button>
            </form>
            <form action="/category/<%= category.id %>/update" method="GET">
                <button type="submit">Update Category</button>
            </form>
        </div>
    </body>
</html>