<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('partials/navbar') %>
        <div class="container">
            <h1><%= title %></h1>
            <h2>Categories</h2>
            <ul>
                <% categories.forEach(category => { %>
                    <li>
                        <a href="/category/<%= category.id %>">
                            <%= category.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>
    </body>
</html>