<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p><strong>Brand: </strong><%= item.brand %></p>
        <p><strong>Description: </strong><%= item.description %></p>
        <p><strong>Price: </strong><%= item.price %></p>
        <p><strong>Stock: </strong><%= item.stock %></p>
        <p><strong>Category: </strong><%= item.category %></p>
        <br>
        <a href="/items/<%= item.id %>/update">Update Item</a>
        <br>
        <a href="/category/<%= item.category_id %>">Back to category items</a>
        <br>
        <a href="/">Back to categories</a>
    </body>
</html>