<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p><strong>Brand: </strong><%= item.brand %></p>
        <p><strong>Description: </strong><%= item.description</p>
        <p><strong>Price: </strong><%= item.price %></p>
        <p><strong>Stock: </strong><%= item.stock %></p>
        <p><strong>Category: </strong><%= item.category %></p>

        <a href="/">Back to categories</a>
    </body>
</html>