<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="/category/<%= category.id %>/update" method="POST">
            <label for="name">Name</label>
            <input name="name" value="<%= category.name %>" required />
            <br>
            <label for="description">Description</label>
            <input name="description" value="<%= category.description %>" />
            <br>
            <button type="submit">Update Category</button>
        </form>
        <a href="/">Back to categories</a>
    </body>
</html>